.input::placeholder {
  color: white;
}

.input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid white;
  text-align: center;
  height: 20px;
  color: white;
}
.input-button {
  opacity: 0;
}
